<a style="text-decoration:none; color:unset" href="/beers/{{id}}">

<div style="height: 300px ;gap: 16px; margin: 20px 0px" class="d-flex flex-row beer-wrapper">
    <img src="{{image_url}}" alt="Beer image" style="flex:1;max-width:200px;">
    <div >
        <h1>{{name}}</h1>
        <small>{{tagline}}</small>
        <p>{{description}}</p>
        
    </div>
</div>
</a>